@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* NAVBAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

nav ul li:first-child {
    margin-right: auto;
}

.photo_app{
    font-family: 'Comfortaa', cursive;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.username.sign_out {
    font-size: 15px;
    text-decoration: none;
}

.username {
    color: black;
}

.sign_out {
    color: #135ad4;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
}

/* MAIN */
main {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#left-side {
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 20px;
    width: 50%;
}

/* STORIES PANEL */
#stories-panel {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
    align-content: space-around;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: scroll;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.story > img {
    border-radius: 50%;
    border: 3px solid #d4d4d4;
}

.story > h4 {
    color: #696969;
    font-weight: normal;
    font-size: smaller;
}

/* CARDS */
#cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 1px solid #d4d4d4;
}

.username-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    font-size: smaller;
}

.image-post > img {
    width: 100%;
}

.post-bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
}

.like-comment-send {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
}

.save-post {
    padding-right: 20px;
}

.num-likes > h4 {
    margin: 10px;
}

.caption-comments-postdate > h5 {
    font-weight: normal;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
}

.caption-more {
    color: #135ad4;
}
.caption-username, .comment-username {
    font-weight: bold;
    padding-right: 5px;
}

.post-date {
    color: #696969;
}

.add-comment {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d4d4d4;
}

.comment-smiley {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.adding-comment {
    width: 150px;
}

.view-comments {
    color: #135ad4;
}

.post-comment-action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
    color: #135ad4;
}

/* RECOMMENDATIONS PANEL */
#right-side {
    width: 20%;
    order: 2;
}

#recommendations-panel {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 90px;
}

.profile-name-pic {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.profile-name-pic > img {
    border-radius: 50%;
}

.profile-name-pic > h2 {
    font-weight: bolder;
}

.suggestions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-left: 10px;
}

.suggestion > img {
    border-radius: 50%;
}

.account-suggestion > h4, .account-suggestion > h5 {
    margin: 0px;
    width: 150px;
}

.suggested-follow {
    width: 80px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: black;
}

h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #696969;
}

.account-suggestion > h5 {
    color: #696969;
    font-weight: normal;
}

.suggestion > h5 {
    color: #135ad4;
    font-weight: normal;
}

@media only screen and (max-width: 1000px) {
    #left-side {
        width: 90%;
    }

    #right-side {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #right-side {
        display: none;
    }

    #left-side {
        width: 90%
    }
}